@media screen and (min-width: 320px) and (max-height: 568px) and (min-height: 360px){
     /*Header*/
     .k-podaci{
        width: 15%;
        display: block;
    }
    .centar{
        width:75%;
    }
    .d-mreze{
        width: 15%;
    }
    .kontakt-navigation.hide{
        visibility: visible;
    }
    .navi.black{
        position: relative;
        top: 0;
    }
    .navigation{
        height: 45px;
    }
    .kontakt-navigation{
        height: 45px;
    }
    .button-f{
        width: 25px;
        height: 20px;
        line-height:10px;
        background-color: transparent;
        border: 0;
        margin-top: 10px;
    }
    .button-f i{
        font-size: 20px;
        color: #ffffff;
        cursor: pointer;
    }
    .button-i{
        width: 25px;
        height: 20px;
        margin-left: 10px;
        line-height: 10px;
        background-color: transparent;
        border: 0;
        margin-top: 10px;
    }
    .button-i i{
        font-size: 20px;
        color: #ffffff;
        line-height: 10px;
        cursor: pointer;
    }
    .button-w{
        width: 25px;
        height: 20px;
        margin-left: 10px;
        line-height: 10px;
        background-color: transparent;
        border: 0;
    }
    .button-w i{
        font-size: 20px;
        color: #ffffff;
        line-height: 10px;
        cursor: pointer;
    }
    .popup{
        height: 70px;
        left: 120px;
    }
    .centar a{
        font-size: 14px;
    }
    .k-podaci .ime{
        margin-left: 20px;
    }
    .k-podaci .ime,.k-podaci .telefon1{
        font-size: 12px;
    }
    .logo{
        width: 140px;
        height: 45px;
    }
    .logo a{
        font-size: 18px;
    }
    .header li a{
        padding: 5px;
    }
    .navi{
        width: 100%;
    }
    .navi .logo{
        display: none;
    }
    .navi .links{
        width: 100%;
    }
    .navi .links ul li {
        margin-left: 10px;
    }
    .navi .links ul li a{
        font-size: 14px;
    }
    /*Section 1*/
    .text{
        height: 50%;
        width: 50%;
        top: 55%;
    }
    /*Section 2*/
    .ime-strane{
        width: 100%;
        height: 15%;
        top: 100%;
    }
    .ime-strane h1{
        font-size: 16px;
    }
    .o-nama{
        width: 80%;
        height: 80%;
        margin-top: 40px;
    }
    /*Section 3*/
    .ime-strane1{
        width: 100%;
        height: 15%;
        top:200%;
    }
    .ime-strane1 h1{
        font-size: 16px;
    }
    .kamen{
        width: 80%;
        height: 80%;
        margin-left: 0 ;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        position: relative;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }   
    .kamen1, .cigla{
        width: 25%;
        height: 70%;
        text-align: center;
    }
    .cigla{
        margin-left: 20%;
    }
    .text2 h1, .text3 h1{
        font-size: 16px;
        margin-top: 16px;
    }
    /*Section 4*/
    .ime-strane2{
        width: 100%;
        height: 15%;
        top:300%;
    }
    .ime-strane2 h1{
        font-size: 16px;
    }
    .galerija-slike{
        width: 80%;
        margin-top: 5%;
    }
    .picture{
        width: 190px;
        height: 200px;
    }
    /*Section 5*/
    .section5{
        height: 100vh;
        top: 400%;
    }
    .ime-strane3{
        height: 15%;
    }
    .kontakt{
        width: 80%;
        margin-top: 5%;
    }
    .adresa{
        width: 30%;
        height: 50%;
    }
    .adresa h1{
        font-size: 16px;
    }
    .adresa h2{
        font-size: 14px;
    }
    .ime-strane3 h1{
        font-size: 14px;
    }
    .mapa{
        width: 70%;
        height: 90%;
    }
    .info{
        height: 60%;
    }
    .mreze{
        height: 10%;
    }
    /*Modalni prozor za kamen*/
    .informacije1{
        width: 80%;
        margin-left: 0 ;
        margin-top: 5%;
        align-items: baseline;
    }
    .slika4, .slika5, .slika6{
        width: 15%;
    }
    .kamen-text p{
        font-size: 14px;
    }
    /*Cigla modalni prozor*/
    .informacije2{
        width: 80%;
        margin-left: 0 ;
        margin-top: 10%;
        align-items: baseline;
    }
}
@media screen and (min-width: 800px) and (max-height: 1280px) and (min-height: 1000px){
    /*Header*/
    .k-podaci{
        width: 15%;
        display: block;
    }
    .centar{
        width:75%;
    }
    .d-mreze{
        width: 15%;
    }
    .kontakt-navigation.hide{
        visibility: visible;
    }
    .navi.black{
        position: relative;
        top: 0;
    }
    .navigation{
        height: 45px;
    }
    .kontakt-navigation{
        height: 45px;
    }
    .button-f{
        width: 25px;
        height: 20px;
        line-height:10px;
        background-color: transparent;
        border: 0;
        margin-top: 10px;
    }
    .button-f i{
        font-size: 20px;
        color: #ffffff;
        cursor: pointer;
    }
    .button-i{
        width: 25px;
        height: 20px;
        margin-left: 10px;
        line-height: 10px;
        background-color: transparent;
        border: 0;
        margin-top: 10px;
    }
    .button-i i{
        font-size: 20px;
        color: #ffffff;
        line-height: 10px;
        cursor: pointer;
    }
    .button-w{
        width: 25px;
        height: 20px;
        margin-left: 10px;
        line-height: 10px;
        background-color: transparent;
        border: 0;
    }
    .button-w i{
        font-size: 20px;
        color: #ffffff;
        line-height: 10px;
        cursor: pointer;
    }
    .popup{
        height: 70px;
        left: 120px;
    }
    .centar a{
        font-size: 14px;
    }
    .k-podaci .ime{
        margin-left: 20px;
    }
    .k-podaci .ime,.k-podaci .telefon1{
        font-size: 12px;
    }
    .logo{
        width: 140px;
        height: 45px;
    }
    .logo a{
        font-size: 18px;
    }
    .header li a{
        padding: 5px;
    }
    .navi{
        width: 100%;
    }
    .navi .logo{
        display: none;
    }
    .navi .links{
        width: 100%;
    }
    .navi .links ul li {
        margin-left: 10px;
    }
    .navi .links ul li a{
        font-size: 14px;
    }
    /*Section 1*/
    .text{
        height: 50%;
        width: 50%;
        top: 55%;
    }
    /*Section 2*/
    .ime-strane{
        width: 100%;
        height: 15%;
        top: 100%;
    }
    .ime-strane h1{
        font-size: 16px;
    }
    .o-nama{
        width: 80%;
        height: 80%;
        margin-top: 40px;
    }
    /*Section 3*/
    .ime-strane1{
        width: 100%;
        height: 15%;
        top:200%;
    }
    .ime-strane1 h1{
        font-size: 16px;
    }
    .kamen{
        width: 80%;
        height: 80%;
        margin-left: 0 ;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        position: relative;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }   
    .kamen1, .cigla{
        width: 25%;
        height: 70%;
        text-align: center;
    }
    .cigla{
        margin-left: 20%;
    }
    .text2 h1, .text3 h1{
        font-size: 16px;
        margin-top: 16px;
    }
    /*Section 4*/
    .ime-strane2{
        width: 100%;
        height: 15%;
        top:300%;
    }
    .ime-strane2 h1{
        font-size: 16px;
    }
    .galerija-slike{
        width: 80%;
        margin-top: 5%;
    }
    .picture{
        width: 190px;
        height: 200px;
    }
    /*Section 5*/
    .section5{
        height: 100vh;
        top: 400%;
    }
    .ime-strane3{
        height: 15%;
    }
    .kontakt{
        width: 80%;
        margin-top: 5%;
    }
    .adresa{
        width: 30%;
        height: 50%;
    }
    .adresa h1{
        font-size: 16px;
    }
    .adresa h2{
        font-size: 14px;
    }
    .ime-strane3 h1{
        font-size: 14px;
    }
    .mapa{
        width: 70%;
        height: 90%;
    }
    .info{
        height: 60%;
    }
    .mreze{
        height: 10%;
    }
    /*Modalni prozor za kamen*/
    .informacije1{
        width: 80%;
        margin-left: 0 ;
        margin-top: 5%;
        align-items: baseline;
    }
    .slika4, .slika5, .slika6{
        width: 15%;
    }
    .kamen-text p{
        font-size: 14px;
    }
    /*Cigla modalni prozor*/
    .informacije2{
        width: 80%;
        margin-left: 0 ;
        margin-top: 10%;
        align-items: baseline;
    }
}
@media screen and (min-width: 768px) and (max-height: 1024px) and (min-height: 1000px){
     /*Header*/
     .k-podaci{
        width: 15%;
        display: block;
    }
    .centar{
        width:75%;
    }
    .d-mreze{
        width: 15%;
    }
    .kontakt-navigation.hide{
        visibility: visible;
    }
    .navi.black{
        position: relative;
        top: 0;
    }
    .navigation{
        height: 45px;
    }
    .kontakt-navigation{
        height: 45px;
    }
    .button-f{
        width: 25px;
        height: 20px;
        line-height:10px;
        background-color: transparent;
        border: 0;
        margin-top: 10px;
    }
    .button-f i{
        font-size: 20px;
        color: #ffffff;
        cursor: pointer;
    }
    .button-i{
        width: 25px;
        height: 20px;
        margin-left: 10px;
        line-height: 10px;
        background-color: transparent;
        border: 0;
        margin-top: 10px;
    }
    .button-i i{
        font-size: 20px;
        color: #ffffff;
        line-height: 10px;
        cursor: pointer;
    }
    .button-w{
        width: 25px;
        height: 20px;
        margin-left: 10px;
        line-height: 10px;
        background-color: transparent;
        border: 0;
    }
    .button-w i{
        font-size: 20px;
        color: #ffffff;
        line-height: 10px;
        cursor: pointer;
    }
    .popup{
        height: 70px;
        left: 120px;
    }
    .centar a{
        font-size: 14px;
    }
    .k-podaci .ime{
        margin-left: 20px;
    }
    .k-podaci .ime,.k-podaci .telefon1{
        font-size: 12px;
    }
    .logo{
        width: 140px;
        height: 45px;
    }
    .logo a{
        font-size: 18px;
    }
    .header li a{
        padding: 5px;
    }
    .navi{
        width: 100%;
    }
    .navi .logo{
        display: none;
    }
    .navi .links{
        width: 100%;
    }
    .navi .links ul li {
        margin-left: 10px;
    }
    .navi .links ul li a{
        font-size: 14px;
    }
    /*Section 1*/
    .text{
        height: 50%;
        width: 50%;
        top: 55%;
    }
    /*Section 2*/
    .ime-strane{
        width: 100%;
        height: 15%;
        top: 100%;
    }
    .ime-strane h1{
        font-size: 16px;
    }
    .o-nama{
        width: 80%;
        height: 80%;
        margin-top: 40px;
    }
    /*Section 3*/
    .ime-strane1{
        width: 100%;
        height: 15%;
        top:200%;
    }
    .ime-strane1 h1{
        font-size: 16px;
    }
    .kamen{
        width: 80%;
        height: 80%;
        margin-left: 0 ;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        position: relative;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }   
    .kamen1, .cigla{
        width: 25%;
        height: 70%;
        text-align: center;
    }
    .cigla{
        margin-left: 20%;
    }
    .text2 h1, .text3 h1{
        font-size: 16px;
        margin-top: 16px;
    }
    /*Section 4*/
    .ime-strane2{
        width: 100%;
        height: 15%;
        top:300%;
    }
    .ime-strane2 h1{
        font-size: 16px;
    }
    .galerija-slike{
        width: 80%;
        margin-top: 5%;
    }
    .picture{
        width: 190px;
        height: 200px;
    }
    /*Section 5*/
    .section5{
        height: 100vh;
        top: 400%;
    }
    .ime-strane3{
        height: 15%;
    }
    .kontakt{
        width: 80%;
        margin-top: 5%;
    }
    .adresa{
        width: 30%;
        height: 50%;
    }
    .adresa h1{
        font-size: 16px;
    }
    .adresa h2{
        font-size: 14px;
    }
    .ime-strane3 h1{
        font-size: 14px;
    }
    .mapa{
        width: 70%;
        height: 90%;
    }
    .info{
        height: 60%;
    }
    .mreze{
        height: 10%;
    }
    /*Modalni prozor za kamen*/
    .informacije1{
        width: 80%;
        margin-left: 0 ;
        margin-top: 5%;
        align-items: baseline;
    }
    .slika4, .slika5, .slika6{
        width: 15%;
    }
    .kamen-text p{
        font-size: 14px;
    }
    /*Cigla modalni prozor*/
    .informacije2{
        width: 80%;
        margin-left: 0 ;
        margin-top: 10%;
        align-items: baseline;
    }
}

@media screen and (min-width: 1024px) and (max-height: 1366px) and (min-height: 1200px){
   
}